<ion-header data-comp-id="header.1">
    <ion-navbar color="primary" data-comp-id="navbar.1" style="">
        <ion-buttons data-comp-id="buttons.1" right="">
            <button (click)="go('TimeEntry')" data-comp-id="icon-button.1" ion-button=""
                style="font-size: 24px;">
                <ion-icon class="fa fa-save"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title data-comp-id="title.1" text-center="">Enter Comments</ion-title>
        <ion-buttons data-comp-id="buttons.2" left="">
            <button (click)="go('TimeEntry')" data-comp-id="icon-button.2" ion-button=""
                style="font-size: 24px;">
                <ion-icon class="ion-ios-arrow-back"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content class="content-light" data-comp-id="content.1" style="">
    <ion-row data-comp-id="row.1">
        <ion-col data-comp-id="column.1" style="text-align: left; padding: 10px;">
            <div data-comp-id="text.1" ion-text="" style="float: none; font-size: 20px;">ProjectNameGoesHere</div>
            <div color="dark" data-comp-id="text.2" ion-text=""
                style="float: none; font-size: 16px;">ActivityNameGoesHere</div>
        </ion-col>
        <ion-col col-2="" data-comp-id="column.2"
            style="text-align: right; padding: 15px 10px;">
            <div color="primary" data-comp-id="text.3" ion-text=""
                style="font-size: 20px; font-weight: bold;">0</div>
        </ion-col>
    </ion-row>
    <ion-row class="row-dark" data-comp-id="row.2" style="padding: 0px 2px;">
        <ion-col data-comp-id="column.3" style="text-align: left; padding: 15px 10px;">
            <ion-icon class="ion-ios-arrow-back-outline" color="light" data-comp-id="icon.1"
                style="margin: 0 1px 2px; font-size: 18px; float: none;"></ion-icon>
            <ion-icon class="ion-ios-arrow-back-outline" color="light" data-comp-id="icon.2"
                style="margin: 0 1px 2px; font-size: 18px;"></ion-icon>
        </ion-col>
        <ion-col data-comp-id="column.4"
            style="text-align: center; border-top: 2px solid #fff;">
            <div color="light" data-comp-id="text.4" ion-text=""
                style="font-size: 14px; float: none; font-weight: 300;">Mon</div>
            <div color="light" data-comp-id="text.5" ion-text=""
                style="font-size: 22px; float: none; font-weight: normal;">30</div>
        </ion-col>
        <ion-col data-comp-id="column.5" style="text-align: center;">
            <div color="light" data-comp-id="text.6" ion-text=""
                style="font-size: 14px; float: none; font-weight: 300;">Tue</div>
            <div color="light" data-comp-id="text.7" ion-text=""
                style="font-size: 22px; float: none; font-weight: normal;">31</div>
        </ion-col>
        <ion-col data-comp-id="column.6" style="text-align: center;">
            <div color="light" data-comp-id="text.8" ion-text=""
                style="font-size: 14px; float: none; font-weight: 300;">Wed</div>
            <div color="light" data-comp-id="text.9" ion-text=""
                style="font-size: 22px; float: none; font-weight: normal;">01</div>
        </ion-col>
        <ion-col data-comp-id="column.7" style="text-align: center;">
            <div color="light" data-comp-id="text.10" ion-text=""
                style="font-size: 14px; float: none; font-weight: 300;">Thur</div>
            <div color="light" data-comp-id="text.11" ion-text=""
                style="font-size: 22px; float: none; font-weight: normal;">02</div>
        </ion-col>
        <ion-col data-comp-id="column.8" style="text-align: center;">
            <div color="light" data-comp-id="text.12" ion-text=""
                style="font-size: 14px; float: none; font-weight: 300;">Fri</div>
            <div color="light" data-comp-id="text.13" ion-text=""
                style="font-size: 22px; float: none; font-weight: normal;">03</div>
        </ion-col>
        <ion-col data-comp-id="column.9" style="text-align: right; padding: 15px 10px;">
            <ion-icon class="ion-ios-arrow-forward-outline" color="light"
                data-comp-id="icon.3" style="margin: 0 1px 2px; font-size: 18px;"></ion-icon>
            <ion-icon class="ion-ios-arrow-forward-outline" color="light"
                data-comp-id="icon.4" style="margin: 0 1px 2px; font-size: 18px;"></ion-icon>
        </ion-col>
    </ion-row>
    <ion-card data-comp-id="card.1"
        style="padding: 5px; margin: 12px 12px 12px 12px;">
        <ion-item data-comp-id="textarea.1">
            <ion-label stacked="">Comments</ion-label>
            <ion-textarea placeholder="Type here..."></ion-textarea>
        </ion-item>
    </ion-card>
    <ion-item data-comp-id="input.1">
        <ion-label>Str</ion-label>
        <ion-input [(ngModel)]="data.str" placeholder="Type here..." type="text"></ion-input>
    </ion-item>
    <ion-item data-comp-id="select.1">
        <ion-label>Sel</ion-label>
        <ion-select [(ngModel)]="data.sel.selected"
            [selectOptions]="{cssClass: 'select-full'}">
            <ion-option *ngFor="let item of data.sel.options" [innerHTML]="item.label"
                [value]="item" data-comp-id="option.1"></ion-option>
        </ion-select>
    </ion-item>
    <ion-item data-comp-id="select.2">
        <ion-label>Sel</ion-label>
        <ion-select [(ngModel)]="data.sel.selected"
            [selectOptions]="{cssClass: 'select-full'}">
            <ion-option *ngFor="let item of data.sel.options" [innerHTML]="item.label"
                [value]="item" data-comp-id="option.2"></ion-option>
        </ion-select>
    </ion-item>
    <ion-list data-comp-id="list.1">
        <ion-item data-comp-id="select.3">
            <ion-label>Select</ion-label>
            <ion-select [selectOptions]="{cssClass: 'select-full'}" interface="alert">
                <ion-option data-comp-id="option.3"></ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
</ion-content>